<h1>Currency Market Pricing</h1>

<div class="text-end">
  <div class="btn-group">
    <button class="btn btn-primary fw-bolder">Sort by</button>
    <button class="btn btn-outline-primary">Pric<%= link_to "e", :sort => "amount"%></button>
    <button class="btn btn-outline-primary">Coi<%= link_to "n", :sort => "value"%></button>
    <button class="btn btn-outline-primary">Tim<%= link_to "e", :sort => "updated_at"%></button>
  </div>
</div>
<br/><br/>
<div class="row">
 <% @requests.each do |request| %>
    <div class="col-sm-4">  
      <div class="card shadow mb-5 rounded border-secondary mb-3">
         <div class="card-header p-3" style="background-color: #e3f2fd;">
          <h5 class="card-text text-center"> <span class="fw-bolder text-muted"> Buy </span>
             <u ><span class="fw-bolder"> <%= request.value %> </span> BTC</u> 
             <span class="text-muted text-warning">for  </span>
             <u>Rs. <span class="fw-bolder">  <%= request.amount %> </span></u>
          </h5>
          <div class="fw-lighter text-center text-muted fst-italic">
            by
            <%=User.find_by(id: request.user_id).email %>
          </div>
        </div>
        <div class="card-body text-center border-secondary text-muted"> 
          Posted
          <% t=((Time.now - request.updated_at) ).to_i%> 
            <% if (t/(60*60*24)) >1 %>
              <%= (t/(60*60*24)) %> days ago.
            <% elsif (t/(60*60*24)) >0 %>
              <%= (t/(60*60*24)) %> day ago.
            <% elsif (t/(60*60)) >1 %>
              <%= (t/(60*60)) %> hours ago.
            <% elsif (t/(60*60)) >0 %>
              <%= (t/(60*60)) %> hour ago.
            <% elsif t/60 > 1 %>
              <%= (t/60) %> minutes ago.
            <% elsif t/60 > 0 %>
              <%= (t/60) %> minute ago.
            <% else %>  
              <%= t %> seconds ago.
           <% end %>
           <br/>
           <br/>
           <% if user_signed_in? %>
            <div class="d-grid d-md-block text-center">
                <%= link_to 'Accept Offer', accept_path(request), method: "put" ,class:"btn btn-success btn-sm" %>
            </div>
          <% else %>
          <div class="d-grid d-md-block text-center">
                <%= button_to 'Accept Offer', accept_path(request), method: "put" ,class:"btn btn-success btn-sm", disabled: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>