<h1>My Money Requests</h1>
<br/>
<div class="row">
 <% @requests.each do |request| %>
    <div class="col-sm-4">
      <div class="card shadow mb-5 rounded border-secondary mb-3">
         <div class="card-header p-3">
          <h5 class="card-text text-center"> <span class="fw-bolder text-muted"> Giving </span>
             <u ><span class="fw-bolder"> <%= request.value %> </span> BTC</u> 
             <span class="text-muted text-warning">for  </span>
             <u>Rs. <span class="fw-bolder">  <%= request.amount %> </span></u>
          </h5>
        </div>
        <div class="card-body text-center border-secondary text-muted"> Posted
          <% t=((Time.now - request.updated_at) ).to_i%> 
            <% if (t/(60*60*24)) >1 %>
              <%= (t/(60*60*24)) %> days ago.
            <% elsif (t/(60*60*24)) >0 %>
              <%= (t/(60*60*24)) %> day ago.
            <% elsif (t/(60*60)) >1 %>
              <%= (t/(60*60)) %> hours ago.
            <% elsif (t/(60*60)) >0 %>
              <%= (t/(60*60)) %> hour ago.
            <% elsif t/60 > 1 %>
              <%= (t/60) %> minutes ago.
            <% elsif t/60 > 0 %>
              <%= (t/60) %> minute ago.
            <% else %>  
              <%= t %> seconds ago.
           <% end %>
           <br/>
           <br/>
          <div class="d-grid d-md-block text-center">
              <%= link_to 'Edit', edit_request_path(request), class:"btn btn-success btn-sm" %>
              <%= link_to 'Remove', request, method: :delete, data: { confirm: 'Are you sure?'},class:"btn btn-danger btn-sm" %>
          </div>
        </div>
       
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Money Request', new_request_path, class:"btn btn-primary" %>
