<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @transaction.sender %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @transaction.receiver %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Value:</strong>
  <%= @transaction.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>


<%= link_to 'Back', transactions_path %>